<header>
    <nav class="courtesy">
        <h1>* SNIPPETS *</h1>
        <ul>
            <li><a href="/login/">Login</a></li>
            <li><a href="/logout/">Logout</a></li>
        </ul>
    </nav> 
    <nav class="mainNav">
        <ul>
            <li class="dropdown"><a href="/">Snippets</a>
                <ul >
                    <li><a href="/new/">Add snippet</a></li> 
                </ul>
            </li>
            <li>
                
            </li>
        </ul>
    </nav>
</header>