<section>
    <h1>Remove</h1>

    <form id="snippetInput" method="POST" action="/{{viewData.id}}/delete">
        <h2>{{viewData.title}}</h2>
        <p>{{viewData.content}}</p>

        <input type="submit" value="Delete Snippet">
    </form>
</section>