{{#if viewData.snippets.length}}
    {{#each viewData.snippets}}
        <section>
            <ul>
                <li>Created: {{createdAt}}</li>
                <li>Author: {{author}}</li>
            </ul>
            <p>{{snippet}}</p>
        </section>
    {{/each}}
{{/if}}