<section>
    <h2>{{viewData.title}}</h2>
    <pre>
        <code><p>{{viewData.content}}</p></code>
    </pre>
    <button id="editButton"><a href="/{{viewData.id}}/edit">Edit</a></button>
    <button id="removeButton"><a href="/{{viewData.id}}/remove">Delete</a></button>
</section>