<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="{{baseURL}}" />
    <title>404 - Not Found</title>
    <link href="https://fonts.googleapis.com/css2?family=Rokkitt&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../css/style.css">
</head>
<body>
    <h1 class="error">404</h1>
    <p>Sorry, could not find what you were looking for...</p>
</body>
</html>