<h1>Login</h1>

<form method="POST" action="/users/login">
    <label for="usernameInput">Username:</label>
    <input type="text" name="usernameInput">
    <label for="passwordInput">Password:</label>
    <input type="password" name="passwordInput">
    <input type="submit" value="Submit">
</form>

<a href="/users/register">Register as a new user</a>